.contact {
  height: 100%;
  padding-top: 30vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background: linear-gradient(#1e4040, #0a1616, #1e4040);
  background: linear-gradient(to bottom right, #4568dc, #b06ab3);
  

  h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    font-size: 1.5rem;
  }

  .social-icons {
    position: initial;
    margin-top: 1.5rem;
  }
}
