
.home {
  height: 100%;
  padding-top: 30vh;
  overflow: hidden;
  align-items: center;
  text-align: center;

  &__name {
    font-size: 4rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #fff;

    &--last {
      color: $accent-color;
      font-weight: 700;
    }
  }

  .message {
    margin-top: 2.5em;
    text-transform: uppercase;
    color: $accent-color;
  }
}
